header {
    background-color: red;
    color: white;
    width: 100%;
    font-size: 20vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.galvao-bueno {
    background-color: crimson;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

.galvao-titulo {
    background-color: maroon;
}

.ratinho {
    background-color: darkred;
}