/* Modificações aside (cor de fundo, botão de pesquisa, posicionamento das imagens e etc...) */

aside{
    background-color: coral;
    width: 30%;
    height: 85vh;
    float: right;
}

aside input{
    margin-left: 9vh;
    margin-top: 1vh;
    width: 42vh;
}

aside ul{
    margin-bottom: 5vh;
    margin-left: 6vh;
    color: white;
    font-size: 3vh;
}

aside div img{
    width: 20vh;
    height: 20vh;   
}

aside div h3{
    text-align: center;
    width: 43vh;
    margin-left: 9vh;
    margin-bottom: 5vh;
    background-color: chocolate;
    color: white;
    width: 100%;
    font-size: 2vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

header a{
    font-size: 10vh;
}

.galvao-bueno {
    background-color: crimson;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

aside div:nth-of-type(2){
    background-color:chocolate;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 43vh;
    margin-left: 9vh; 
}

aside div img:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

aside div img:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

aside div img:nth-of-type(3){
    margin-left: 1vh;
    margin-bottom: 1vh;
}

/* Modificações aside (cor de fundo, botão de pesquisa, posicionamento das imagens e etc...) */

aside{
    background-color: coral;
    width: 30%;
    height: 85vh;
    float: right;
}

aside input{
    margin-left: 9vh;
    margin-top: 1vh;
    width: 42vh;
}

aside ul{
    margin-bottom: 5vh;
    margin-left: 6vh;
    color: white;
    font-size: 3vh;
}

aside div img{
    width: 20vh;
    height: 20vh;   
}

aside div h3{
    text-align: center;
    width: 43vh;
    margin-left: 9vh;
    margin-bottom: 5vh;
    background-color: chocolate;
    color: white;
}

aside div:nth-of-type(2){
    background-color:chocolate;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 43vh;
    margin-left: 9vh; 
}

aside div img:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

aside div img:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

aside div img:nth-of-type(3){
    margin-left: 1vh;
    margin-bottom: 1vh;

}

.ratinhonav {
    color: darkred;
    background-color: chocolate;
    overflow: hidden;
}

.ratinhonav a {
    float: left;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.ratinhonav a:hover {
    background-color: turquoise;
    color: black;
}

.ratinhonav a.active {
    background-color: blueviolet;
    color: white;
}